a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
    text-decoration: none;
}

:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    background-image: url('../image/ba.gif');
    background-size: cover;
    background-position: center;
    color: #000;
}
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

audio,
canvas,
video {
    display: inline-block;
    max-width: 100%
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
html,
input,
select,
textarea {
    color: #222
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

img {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

html {
    font-family: Lato,arial,helvetica,sans-serif;
}

body {
    height: 100%
}

.terms {
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.56;
    margin-top: 10px
}

.terms-link {
    color: inherit
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.content-wrapper {
    height: 100%
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.background-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(neon.mp4);
    background-size: cover;
    background-position: center center;
    background-color: #b3d4fc
}

.logo {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center
}

.logo img {
    width: 98px;
    display: inline-block
}

.cards-wrapper {
    width: 100%;
    height: 100%;
    position: relative
}

.flip-card {
    background-color: transparent;
    position: absolute;
    width: 65%;
    height: 80%;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-14%, -50%) scale(.8);
    transform: translate(-14%, -50%) scale(.8);
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.flip-card.active {
    -webkit-animation: in .5s ease 0s 1 forwards;
    animation: in .5s ease 0s 1 forwards
}

.flip-card.out {
    -webkit-animation: out .5s ease 0s forwards;
    animation: out .5s ease 0s forwards
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #000
}

.flip-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.flip-card-back,
.flip-card-front {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 15px;
    box-sizing: border-box
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.screen {
    display: none
}

.flip-card-1 .flip-card-front {
    background: #ffffff80;
}

.flip-card-1 .flip-card-back {
    background-image: linear-gradient(to bottom, rgba(98, 125, 249, .75), rgba(145, 43, 191, .75))
}

.flip-card-2 .flip-card-front,
.flip-card-3 .flip-card-front {
    background-image: linear-gradient(to bottom, rgba(98, 125, 249, .75), rgba(145, 43, 191, .75))
}

.flip-card-2 .flip-card-back,
.flip-card-3 .flip-card-back {
    background-image: linear-gradient(to bottom, rgba(178, 102, 255, .75), rgba(235, 8, 8, .75))
}

.flip-card-4 .flip-card-back,
.flip-card-4 .flip-card-front,
.flip-card-5 .flip-card-back,
.flip-card-5 .flip-card-front,
.flip-card-6 .flip-card-front,
.flip-card-7 .flip-card-front {
    background-image: linear-gradient(to bottom, rgba(34, 231, 170, .75), rgba(43, 47, 191, .75))
}

.flip-card.active .flip-card-back,
.flip-card.active .flip-card-front {
    box-shadow: 00 2px 24px 0 rgb(0 0 0 / 85%)
}

.flip-card.reverse .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.screen-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.46;
    margin-bottom: 20px;
    margin-top: 18px;
    /*text-decoration: underline;*/
}

.screen-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.63
}

.screen-subtitle--bold {
    font-weight: 700
}

.screen-subtitle .counter-wrapper {
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 1
}

.screen-subtitle .final_counter {
    display: block;
    font-size: 100px;
    line-height: 1;
    font-weight: 700
}

.small-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    margin-top: 10px
}

.card-btns {
    margin-top: 28px
}

.default-btn {
    text-align: center;
    line-height: 54px;
    height: 61px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 26px;
    background-color: transparent;
    width: 105px;
    border: 2px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
}

.default-btn+.default-btn {
    margin-left: 20px
}

.default-btn.full-width-btn {
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 10px auto;
    font-weight: 1000;
    border: 1px solid #e21010;
    box-shadow: 0 2px 6px rgb(0 0 0 / 40%), inset 0 2px 2px hsl(0deg 0% 100% / 20%);
}

.default-btn.full-width-btn+.default-btn.full-width-btn {
    margin-top: 20px
}
button{
    position: relative;
}
button:before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    background-color: #d9213e;
    transform: translate(-50%);
    transition: all .5s ease-in-out;
    border-radius: 26px;
    z-index: -1;
}
button:hover::before{
    width: 100%;
    height: 100%;
    color: #fff;
    transform:translateY(-50%) translateX(-50%);
    transition: all .5s ease-in-out;
}
.input-block {
    margin-top: 28px
}

.default-input {
    background-color: rgba(255, 255, 255, .22);
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    width: 240px;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
    outline: 0
}

.default-input::-webkit-input-placeholder {
    opacity: .4;
    color: #fff
}

.default-input::-moz-placeholder {
    opacity: .4;
    color: #fff
}

.default-input:-ms-input-placeholder {
    opacity: .4;
    color: #fff
}

.default-input::-ms-input-placeholder {
    opacity: .4;
    color: #fff
}

.default-input::placeholder {
    opacity: .4;
    color: #fff
}

.default-input.error {
    border: 1px solid red
}

.input-description {
    font-size: 12px;
    max-width: 195px;
    margin: 12px auto 0;
    line-height: 1.6
}

.hidden-block {
    display: none;
    width: 240px;
    background-color: #fff;
    border-radius: 10px;
    margin: 25px auto 0;
    text-align: center;
    position: relative
}

.hidden-block::before {
    content: '';
    position: absolute;
    bottom: 100%;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom: 11px solid #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.hidden-block p {
    font-size: 16px;
    color: #9024ff;
    line-height: 1.56;
    padding: 22px;
    font-weight: 700
}

.hidden-block p span {
    font-size: 24px;
    display: block
}

.error-text {
    display: none;
    color: red;
    font-size: 12px;
    max-width: 185px;
    margin: 5px auto;
    text-align: center
}

.error-text.age-error,
.error-text.mail-error,
.error-text.pass-error {
    display: block
}

@-webkit-keyframes in {
    from {
        top: 50%;
        left: 100%;
        -webkit-transform: translate(-14%, -50%) scale(.8);
        transform: translate(-14%, -50%) scale(.8)
    }
    to {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
    }
}

@keyframes in {
    from {
        top: 50%;
        left: 100%;
        -webkit-transform: translate(-14%, -50%) scale(.8);
        transform: translate(-14%, -50%) scale(.8)
    }
    to {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
    }
}

@-webkit-keyframes out {
    from {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
    }
    to {
        top: 50%;
        left: 0;
        -webkit-transform: translate(-120%, -50%) scale(1.2);
        transform: translate(-120%, -50%) scale(1.2)
    }
}

@keyframes out {
    from {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
    }
    to {
        top: 50%;
        left: 0;
        -webkit-transform: translate(-120%, -50%) scale(1.2);
        transform: translate(-120%, -50%) scale(1.2)
    }
}

.loader {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000
}

.outer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-animation: outer;
    animation: outer;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.inner-citcle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-animation: inner;
    animation: inner;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
form p {
    position: relative;
    margin-top: 13px;
}
 form, input {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #666;
      }
      .main-block {
      max-width: 340px;
      min-height: 460px;
      padding: 10px 0;
      margin: auto;
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      background: #ebebeb;
      }
      form {
      margin: 0 30px;
      }
      .account-type, .gender {
      margin: 15px 0;
      }
      input[type=radio] {
      display: none;
      }
      label#icon {
      margin: 0;
      border-radius: 5px 0 0 5px;
      }
      label.radio {
      position: relative;
      display: inline-block;
      padding-top: 4px;
      margin-right: 20px;
      text-indent: 30px;
      overflow: visible;
      cursor: pointer;
      }
      label.radio:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #1c87c9;
      }
      label.radio:after {
      content: "";
      position: absolute;
      width: 9px;
      height: 4px;
      top: 8px;
      left: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      input[type=text], input[type=password], input[type=email]{
     /* width: calc(100% - 57px);*/
      width: 35%;
      height: 36px;
      padding-left: 36px;
     /* border-radius: 0 5px 5px 0;*/
      border-radius: 5px;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09);
      background: #fff;
      }

      input[type=password] {
      margin-bottom: 15px;
      }
      #icon {
      display: inline-block;
      padding: 9.3px 15px;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09);
      background: #1c87c9;
      color: #fff;
      text-align: center;
      display: none;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }

      img {
    max-height: 111px;
    max-width: 297px;
    background-color: beige;
    margin-top: -118px;
    margin-left: 0px;
    border-radius: 0px 0px 10px 10px
      }
     .fa-ini{
     color: #d9213e;
    display: block !important;
    /* font-family: Parshicons; */
    font-size: 17px;
    line-height: 1.9;
    position: absolute;
    position: absolute;
    top: 10px;
    left: 33.5%;
      }
      .fa-ene{
     color: #040404;
    display: block !important;
    /* font-family: Parshicons; */
    font-size: 17px;
    line-height: 1.9;
    margin: -74px 0px 0px 0px;
    position: absolute;
    margin-left: 245px;
      }
     .fa-phn{
     color: #040404;
    display: block !important;
    /* font-family: Parshicons; */
    font-size: 17px;
    line-height: 1.9;
    margin: -74px 0px 0px 0px;
    position: absolute;
    margin-left: 245px;
      }
@media (max-width: 768px) and (min-width: 322px) {
   img {
   max-height: 105px;
    max-width: 297px;
    background-color: beige;
    /* margin-top: -123px; */
    top: 50%;
    margin-top: -151px;
    margin-left: 0px;
    border-radius: 0px 0px 10px 10px;
      }
   .flip-card {
    background-color: transparent;
    position: absolute;
    width: 91%;
    height: 65%;
    top: 50%;
    margin-top: -35px;
    left: 100%;
    -webkit-transform: translate(-14%, -50%) scale(.8);
    transform: translate(-14%, -50%) scale(.8);
    -webkit-perspective: 1000px;
    perspective: 1000px
}
 input[type=text], input[type=password], input[type=email]{
     /* width: calc(100% - 57px);*/
      width: 97%;
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 40px;
     /* border-radius: 0 5px 5px 0;*/
      border-radius: 5px;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09);
      background: #fff;
      }
 .fa-ini {
    color: #9a8181;
    display: block !important;
    /* font-family: Parshicons; */
    font-size: 17px;
    line-height: 1.9;
    margin: -26px 0px 0px 0px;
    position: absolute;
    margin-left: 15px;
}
.screen-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.46;
    margin-bottom: 20px;
    margin-top: 18px;
    /* text-decoration: underline; */
}
}
@media (max-width:320px) {
.logo-pop {
    max-height: 140px;
    max-width: 297px;
    background-color: beige;
    margin-top: -73px;
    margin-left: 168px;
    border-radius: 0px 0px 10px 10px;
      }
}
@-webkit-keyframes outer {
    from {
        width: 50px;
        height: 50px
    }
    to {
        width: 70px;
        height: 70px
    }
}

@keyframes outer {
    from {
        width: 50px;
        height: 50px
    }
    to {
        width: 70px;
        height: 70px
    }
}

@-webkit-keyframes inner {
    from {
        width: 50px;
        height: 50px
    }
    to {
        width: 70px;
        height: 70px
    }
}

@keyframes inner {
    from {
        width: 50px;
        height: 50px
    }
    to {
        width: 70px;
        height: 70px
    }
}